{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="captioned-image captioned-image__{{ block.value.alignment }}">
    {% image block.value.image original as original %}
    <a href="{{ original.url }}" target="_blank">
        {% if block.value.alignment == "full-width" %}
            {% image block.value.image max-1280x720 class="captioned-image--image" %}
        {% else %}
            {% image block.value.image max-200x600 class="captioned-image--image" %}
        {% endif %}
    </a>
    {% if block.value.caption %}
    <div class="captioned-image--caption rich-text">{{ block.value.caption|richtext }}</div>
    {% endif %}
</div>
