<nav class="navbar navbar-expand-md navbar-light navbar-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for menu_item in menu_items %}
            <li class="nav-item {% if menu_item.is_active %}active{% endif %}">
                <a class="nav-link" href="{{ menu_item.url }}">
                    {{ menu_item.title }} {% if menu_item.is_active %}<span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
