<nav class="navbar navbar-expand-md navbar-light navbar-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for menu_item in menu_items %}
                {% if menu_item.children %}
                <li class="nav-item dropdown{% if menu_item.is_active %} active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="{{ menu_item.menu_id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ menu_item.title }} {% if menu_item.is_active %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="{{ menu_item.menu_id }}">
                        <a class="dropdown-item" href="{{ menu_item.url }}">{{ menu_item.title }}</a>
                        {% for child in menu_item.children %}
                        <a class="dropdown-item{% if child.is_active %} active{% endif %}" href="{{ child.url }}">{{ child.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% else %}
                <li class="nav-item{% if menu_item.is_active %} active{% endif %}">
                    <a class="nav-link" href="{{ menu_item.url }}">
                        {{ menu_item.title }} {% if menu_item.is_active %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
